:root{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    
    background-image: url(/assets/bg1);
    
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
    font-size: 25px;
}
.wrapper{
    margin: 0 auto 0;
    width: 100%;
}


.btn-primary{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background: rgb(16, 83, 25);
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-primary:hover{
    background: lime;
}


.navlist{
    background: #24252A;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navitem{
    font-size: 20px;
    list-style: none;
    margin-right: 2rem;
}
.navitem a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
}
.navitem a:hover {
    color: #0088a9;
}

.navitem:first-child{
    margin-right: auto;
    margin-left: 2rem;
}

/*input{
    display: block;
    width: 300px;
    height: 30px;
    background: gray;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin: bottom 10px;
    border-radius: 5px;
}*/

.signupform{
    margin-top: 50px;
    width: 450px;
    background: rgba(0, 0, 0, 0.7);
    padding: 5rem;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    color: white;
}

.signupform h2{
    padding-bottom: 3rem;
}

.signup-item{
    padding: 10px;
}

.space{
    padding: 3rem;
}


/*.btn-reg{
    width: 300px;
    height: 30px;
    font-size: 16px;
    background: black;
    font-weight: lighter;
    color: fff;
}*/

.img-upload{
    padding: 5px;
    max-width: 200; 
}

.parallax-1, .parallax-2, .parallax-3{
    height: 100%;
    position: relative;
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 5rem;
    
}

.parallax-1{
    background-image: url(assets/bg1.jpg);

}

.parallax-2{
    background-image: url(assets/bg2.jpg);
    
}

.parallax-3{
    background-image: url(assets/bg3.jpg);
    
}

.container{
    display: flex;
    justify-content: center;

}

.card{
    background: grey;
    width: 200px;
    height: 380px;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;

}

.card a{
    background-color: black;
    color: white;
    display: block;
}

.card a{
    background-color: green;
    color: white;
    padding: 15px 20px;
    display: block;
}


.intro {
    margin: auto;
    width: 100%;
    border: none;
    padding-top: 20px;
}

.titlebox {
    margin: 50px;
    width: 500px;
    height: 500px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.7);
    margin: auto;
    margin-top: 5px;
    color: black;
    
}

.center {
    margin: auto;
    width: 50%;
    border: none;
    padding: 50px;
    
}

.center a{
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
}
